<nav>
    <div>
        <a routerLink="/">
            <img class="Navbar_main_ico" src="assets/img/logo.png" alt="Logo HydroGrow">
        </a>
    </div>
    <div>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active">
                    <p>Accueil</p>
                </a>
            </li>
            <li>
                <a routerLink="plants" routerLinkActive="active">
                    <p>Plantes</p>
                    <!-- <img src="assets/img/plantes.png" alt="Plantes"> -->
                </a>
            </li>
            <li>
                <a routerLink="sensors" routerLinkActive="active">
                    <p>Capteurs</p>
                    <!-- <img src="assets/img/capteurs.png" alt="Capteurs"> -->
                </a>
            </li>
            <li>
                <a routerLink="planning" routerLinkActive="active">
                    <p>Planning</p>
                    <!-- <img src="assets/img/planning.png" alt="Planning"> -->
                </a>
            </li>
            <li>
                <a routerLink="users" routerLinkActive="active">
                    <p>Utilisateurs</p>
                    <!-- <img src="assets/img/utilisateur.png" alt="Utilisateur"> -->
                </a>
            </li>
            <li>
                <a routerLink="settings" routerLinkActive="active">
                    <p>Paramètres</p>
                    <!-- <img src="assets/img/parametres.png" alt="Parametres"> -->
                </a>
            </li>

        </ul>
    </div>
</nav>