<nav>
    <div>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active">Accueil</a>
            </li>
            <li>
                <a routerLink="plants" routerLinkActive="active">Plantes</a>
            </li>
            <li>
                <a routerLink="sensors" routerLinkActive="active">Capteurs</a>
            </li>
            <li>
                <a routerLink="planning" routerLinkActive="active">Planning</a>
            </li>
            <li>
                <a routerLink="users" routerLinkActive="active">Utilisateurs</a>
            </li>
            <li>
                <a routerLink="settings" routerLinkActive="active">Paramètres</a>
            </li>
        </ul>
    </div>
</nav>