// ----------------- Paramètres page html -----------------
.text-format {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  padding-left: 3%;
  font-size: 24px;
  margin-bottom: 20px;
  background-color: blueviolet;
}

// ----------------- Mode d'affichage -----------------

// -------- Mode clair --------

// -------- Mode sombre --------

// ----------------- Paramètres globaux -----------------

.section-parametres {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  background-color: yellow;
}

// ----------------- Notifications -----------------
.div-notifications {
  display: flex;
  flex-direction: row;
  width: 40%;
  flex-wrap: wrap;
  background-color: red;
}

.div-notifications h2 {
  width: 100%;
}

.div-notifications-choix {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: blue;
}

.notification-type {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  background-color: green;
}

// ----------------- Langue -----------------
.div-langue {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: blue;
}

// ----------------- Enregistrer -----------------
.div-enregistrer {
  display: flex;
  background-color: green;
}
