// --------------------- Générique ---------------------

.section-plant {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

// --------------------- Formatage de la photo ---------------------

.box-img {
  width: 8em;
  height: 8em;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

// --------------------- Texte à coté de la photo ---------------------

.box-text {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.titre-plante {
  width: 100%;
}

.description-plante {
  width: 100%;
}

// --------------------- La photo de la plante ---------------------

// rétrécir l'image pour qu'elle rentre dans la boite
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// --------------------- La barre de la plante ---------------------

.box-slider {
  width: 100%;
  display: flex;
}

.titre-element {
  font-weight: bold;
  width: 35%;
}

.type {
  // width: 10%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.lign {
  width: 50%;
}

input {
  width: 100%;
}

// --------------------- Créer un espace entre les plantes ---------------------

.JustSpace {
  margin: 5em;
}
