<section class="section-plant">
    <div class="box-img">
        <img src="{{ plant.image }}" alt="">
    </div>
    <div class="inter-box-text">
        <div class="box-text">
            <h1 class="titre-plante">Nom : {{plant.name}}</h1>
            <p class="description-plante">
                {{ plant.description }}
            </p>
        </div>
    </div>
</section>
<!-- 
    ---------------------- Element temperature ----------------------
 -->

<div class="box-slider">
    <div class="titre-element">
        <label for="temperature">Température</label>
    </div>
    <div class="lign">
        <input type="range" id="temperature" name="temperature" min=0 max=50 value="{{ plant.temperature }}" disabled>
    </div>
    <div class="type">
        <span>{{ plant.temperature }}°C</span>
    </div>
</div>

<!-- 
    ---------------------- Element humidity ----------------------
 -->

<div class="box-slider">
    <div class="titre-element">
        <label for="humidity">Humidité</label>
    </div>
    <div class="lign">
        <input type="range" id="humidity" name="humidity" min=0 max=100 value="{{ plant.humidity }}" disabled>
    </div>
    <div class="type">
        <span>{{ plant.humidity }}%</span>
    </div>
</div>

<!-- 
    ---------------------- Element light ----------------------
 -->

<div class="box-slider">
    <div class="titre-element">
        <label for="luminosity">Luminosité</label>
    </div>
    <div class="lign">
        <input type="range" id="luminosity" name="luminosity" min=0 max=100 value="{{ plant.light }}" disabled>
    </div>
    <div class="type">
        <span>{{ plant.light }}%</span>
    </div>
</div>

<!-- 
    ---------------------- Element water ----------------------
 -->

<div class="box-slider">
    <div class="titre-element">
        <label for="water">Arrosage</label>
    </div>
    <div class="lign">
        <input type="range" id="water" name="water" min=0 max=100 value="{{ plant.water }}" disabled>
    </div>
    <div class="type">
        <span>{{ plant.water }}%</span>
    </div>
</div>

<!-- 
    ---------------------- Element fertilizer ----------------------
 -->

<div class="box-slider">
    <div class="titre-element">
        <label for="fertilizer">Engrais</label>
    </div>
    <div class="lign">
        <input type="range" id="fertilizer" name="fertilizer" min=0 max=100 value="{{ plant.nutrients }}" disabled>
    </div>
    <div class="type">
        <span>{{ plant.nutrients }}%</span>
    </div>
</div>

<!-- 
    ---------------------- Element ph ----------------------
 -->

<div class="box-slider">
    <div class="titre-element">
        <label for="ph">PH</label>
    </div>
    <div class="lign">
        <input type="range" id="ph" name="ph" min=0 max=14 value="{{ plant.ph }}" disabled>
    </div>
    <div class="type">
        <span>{{ plant.ph }}</span>
    </div>
</div>

<!-- 
    ---------------------- Element ec ----------------------
 -->

<div class="box-slider">
    <div class="titre-element">
        <label for="ec">EC</label>
    </div>
    <div class="lign">
        <input type="range" id="ec" name="ec" min=0 max=100 value="{{ plant.ec }}" disabled>
    </div>
    <div class="type">
        <span>{{ plant.ec }}</span>
    </div>
</div>

<div class="JustSpace"></div>